<div class="container mt-4">
  <div class="row">
    <h3>Listado de estudiantes</h3>

    <!-- <button class="btn btn-primary ml-auto" (click)="ejecutar()">Aceptar</button> -->
    <br>
    <table class="table" *ngIf="listaEstudiantes.length > 0">
      <thead>
        <th>N°</th>
        <th>Nombre</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <tr *ngFor="let estudiante of listaEstudiantes; let i =index" [ngSwitch]="estudiante.estado">
          <!-- añadir index -->
          <td>{{i+1}}</td>
          <td>{{estudiante.nombre}}</td>
          <!--     <td [ngStyle]="{'color': estudiante.estado==='Suspenso' ? 'red': 'black'}">{{estudiante.estado}}</td> -->
         <!--  <td>
            <span [ngClass]="estudiante.estado==='Suspenso' ? 'badge bg-danger': 'badge bg-success'">{{estudiante.estado}}</span>
          </td> -->
          <td>
            <span *ngSwitchCase="'Aprobado'" class="badge bg-success" >{{estudiante.estado}}</span>
            <span *ngSwitchCase="'Suspenso'" class="badge bg-secondary" >{{estudiante.estado}}</span>
            <span *ngSwitchCase="'Retirado'" class="badge bg-danger" >{{estudiante.estado}}</span>
          </td>
        </tr>
      </tbody>

    </table>
    <h3 *ngIf="listaEstudiantes.length==0">No exiten datos para mostrar </h3>
  </div>



</div>